@import "tailwindcss";

/* Tus animaciones personalizadas pueden ir debajo si quieres */
@theme {
  --animate-slide-up: slideUp 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-fade-in: fadeIn 0.2s ease-out forwards;
}

@keyframes slideUp {
  from { transform: translate(-50%, 100%); }
  to { transform: translate(-50%, -50%); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}