@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent; /* Removes blue highlight on mobile tap */
  }
  
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

/* Hide Scrollbar for Horizontal Scrollers (DateNavigator) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Custom Selection Color */
::selection {
  background-color: #bfdbfe; /* Blue-200 */
  color: #1e3a8a; /* Blue-900 */
}